<form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" formControlName="title"/>
    <div *ngIf="postForm.controls['title']?.invalid && postForm.controls['title']?.touched">
        <small>Title is required</small>
    </div>

    <label for="body">Body: </label>
    <textarea id="body" name="body" formControlName="body" required></textarea>
    <div *ngIf="postForm.controls['body']?.invalid && postForm.controls['body']?.touched">
        <small>Body is required</small>
    </div>

    <button type="submit" [disabled]="postForm.invalid" >Submit</button>
</form>
